
.container{
  margin-top: 3%;
}

.input-group{
  margin-top: 10%; 
}

.pad{
  padding: 10px 10px 10px 10px ;
}
.h5title{
  font-style: italic;
}

ul.circle-style{
  list-style-type: circle;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}