/* variables */
/* Mixins */
/* base */
*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
  }
  html {
    font-size: 62.5%;
  }
  body {
    box-sizing: border-box;
    font-size: 1.6rem;
  }
  /* utilites */
  .u-center {
    text-align: center;
  }
  .u-mb-large {
    margin-bottom: 3rem;
  }
  .u-padding {
    padding: 4rem;
  }
  /* grid */
  .row {
    max-width: 114rem;
    margin: 0 auto;
  }
  .row:not(:last-child) {
    margin-bottom: 8rem;
  }
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  .row [class^="col-"] {
    float: left;
  }
  .row [class^="col-"]:not(:last-child) {
    margin-right: 6rem;
  }
  .row .col-1-of-2 {
    width: calc(1 *
            ((100% - (2 - 1) *6rem) / 2) +
            (1 - 1) *6rem);
  }
  .row .col-1-of-3 {
    width: calc(1 *
            ((100% - (3 - 1) *6rem) / 3) +
            (1 - 1) *6rem);
  }
  .row .col-2-of-3 {
    width: calc(2 *
            ((100% - (3 - 1) *6rem) / 3) +
            (2 - 1) *6rem);
  }
  .row .col-1-of-4 {
    width: calc(1 *
            ((100% - (4 - 1) *6rem) / 4) +
            (1 - 1) *6rem);
  }
  .row .col-2-of-4 {
    width: calc(2 *
            ((100% - (4 - 1) *6rem) / 4) +
            (2 - 1) *6rem);
  }
  .row .col-3-of-4 {
    width: calc(3 *
            ((100% - (4 - 1) *6rem) / 4) +
            (3 - 1) *6rem);
  }
  /* card */
  .card {
    height: 50rem;
    -webkit-perspective: 200rem;
    perspective: 200rem;
    position: relative;
  }
  .card__side {
    height: 50rem;
    width: 100%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all 0.8s ease;
  }
  .card__side--front {
    background-color: #fff;
  }
  .card__side--back {
    transform: rotateY(180deg);
  }
  .card__side--back-1 {
    background-image: linear-gradient(to right bottom, rgba(243, 106, 14, 0.541), rgba(243, 75, 14, 0.8));
  }
  .card__side--back-2 {
    background-image: linear-gradient(to right bottom, rgba(174, 243, 14, 0.418), rgba(41, 243, 14, 0.788));
  }
  .card__side--back-3 {
    background-image: linear-gradient(to right bottom, rgba(14, 235, 243, 0.411), rgba(14, 178, 243, 0.8));
  }
  .card__side--back-4 {
    background-image: linear-gradient(to right bottom, rgba(121, 14, 243, 0.377), rgba(94, 14, 243, 0.8));
  }
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
  }
  .card:hover .card__side--back {
    transform: rotateY(0deg);
  }
  .card__picture {
    background-size: cover;
    background-position: center;
    height: 24rem;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    background-blend-mode: screen;
  }
  .card__picture--1 {
    background-image: linear-gradient(to right bottom, rgba(243, 106, 14, 0.541), rgba(243, 75, 14, 0.8)), url("http://www.freeimageslive.com/galleries/nature/water/pics/waterstream02059.jpg");
  }
  .card__picture--2 {
    background-image: linear-gradient(to right bottom, rgba(174, 243, 14, 0.418), rgba(41, 243, 14, 0.788)), url("http://www.freeimageslive.com/galleries/nature/coastline/pics/stones2133.jpg");
  }
  .card__picture--3 {
    background-image: linear-gradient(to right bottom, rgba(14, 235, 243, 0.411), rgba(14, 178, 243, 0.8)), url("http://www.freeimageslive.com/galleries/nature/views/pics/lake_landscape.jpg");
  }
  .card__picture--4 {
    background-image: linear-gradient(to right bottom, rgba(121, 14, 243, 0.377), rgba(94, 14, 243, 0.8)), url("http://www.freeimageslive.com/galleries/nature/water/pics/nature00084g.jpg");
  }
  .card__heading {
    position: absolute;
    top: 13.2rem;
    right: 1rem;
    width: 57%;
    text-align: right;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .card__heading-span {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    padding: 1rem 1.5rem;
  }
  .card__heading-span--1 {
    background-image: linear-gradient(to right bottom, rgba(243, 106, 14, 0.3), rgba(243, 75, 14, 0.5));
  }
  .card__heading-span--2 {
    background-image: linear-gradient(to right bottom, rgba(174, 243, 14, 0.2), rgba(41, 243, 14, 0.5));
  }
  .card__heading-span--3 {
    background-image: linear-gradient(to right bottom, rgba(14, 235, 243, 0.2), rgba(14, 178, 243, 0.5));
  }
  .card__heading-span--4 {
    background-image: linear-gradient(to right bottom, rgba(121, 14, 243, 0.1), rgba(94, 14, 243, 0.5));
  }
  