<!-- <!DOCTYPE html>
<html lang="en">

<body> -->

<!-- Page Content -->
<div class="container at-da-top">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Levi9 Bookstore</h1>
      <div class="list-group">
        <!-- *ngFor = category of categories; i = index; -->
        <ul>
          <li><a href="#" class="list-group-item">Category 1</a></li>
          <li><a href="#" class="list-group-item">Category 2</a></li>
        </ul>
      </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
      <div class="row">

        <!-- START::Card-->
        <!-- TODO: insert this in next line as directive *ngFor="let book of top10Books; i = index" -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <!-- {{book.name}} -->
                <a routerLink="">{{title}}</a>
              </h4>
              <!-- {{book.price}} -->
              <h5>Price: 555333$</h5>
              <p>Author: Miroljub Petrovic</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>
        <!-- END::Card-->

        <!-- START::Card-->
        <!-- TODO: insert this in next line as directive *ngFor="let book of top10Books; i = index" -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <!-- {{book.name}} -->
                <a href="#">Title</a>
              </h4>
              <!-- {{book.price}} -->
              <h5>Price: 555333$</h5>
              <p>Author: Miroljub Petrovic</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>
        <!-- END::Card-->

        <!-- START::Card-->
        <!-- TODO: insert this in next line as directive *ngFor="let book of top10Books; i = index" -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <!-- {{book.name}} -->
                <a href="#">Title</a>
              </h4>
              <!-- {{book.price}} -->
              <h5>Price: 555333$</h5>
              <p>Author: Miroljub Petrovic</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>
        <!-- END::Card-->

        <!-- START::Card-->
        <!-- TODO: insert this in next line as directive *ngFor="let book of top10Books; i = index" -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="card-title">
                <!-- {{book.name}} -->
                <a href="#">Title</a>
              </h4>
              <!-- {{book.price}} -->
              <h5>Price: 555333$</h5>
              <p>Author: Miroljub Petrovic</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>
        <!-- END::Card-->



      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<!-- <footer class="py-5 bg-dark">
    <div class="container at-da-bottom">
      <p class="m-0 text-center text-white">Copyright &copy; Levi9 AMN Interns of August 2019</p>
    </div> -->
<!-- /.container -->
<!-- </footer> -->