<div class="wrapper">
  <div class="formContent">
    <div class="fadeIn first">
      <h2>Add book</h2>
    </div>
    <form #addBookForm="ngForm">
      <div>
        <input
          type="text"
          name="name"
          [(ngModel)]="bookData.name"
          id="name"
          #name="ngModel"
          class="fadeIn second"
          placeholder="Title"
          required
        />
        <span
          class="validation-message"
          style="text-align: justify; display:block;"
          *ngIf="name.errors?.required && name.touched"
          class="text-danger"
          >Title is required</span
        >
      </div>
      <div>
        <input
          type="text"
          name="price"
          [(ngModel)]="bookData.price"
          id="price"
          #price="ngModel"
          class="fadeIn second"
          placeholder="Price"
          required
        />
        <span
          class="validation-message"
          style="text-align: justify; display:block;"
          *ngIf="price.errors?.required && price.touched"
          class="text-danger"
          >Price is required</span
        >
      </div>
      <div>
        <input
          type="text"
          name="amount"
          [(ngModel)]="bookData.amount"
          id="amount"
          #amount="ngModel"
          class="fadeIn second"
          placeholder="Amount"
          required
        />
        <span
          class="validation-message"
          style="text-align: justify; display:block;"
          *ngIf="amount.errors?.required && amount.touched"
          class="text-danger"
          >Amount is required</span
        >
      </div>
      <div>
        <label for="authors">Choose author(s):</label>
        <select
          class="form-control"
          multiple
          name="authorId"
          [(ngModel)]="authorData.authors"
        >
          >
          <option
            *ngFor="let author of authorData.authors; let i = index"
            [ngValue]="author.authorId"
            (click)="onChangeAuthor($event)"
            >{{ author.firstName }} {{ author.lastName }}</option
          >
        </select>
      </div>
      <div>
        <label for="categories">Choose category(s):</label>
        <select
          class="form-control"
          multiple
          (change)="onChangeCategory($event.target)"
        >
          <option
            *ngFor="let category of categoryData.categories; let i = index"
            [value]="category.categoryId"
            >{{ category.name }}
          </option>
        </select>
      </div>
      <!-- <div *ngFor="let author of authorData.authors; let i = index">
        <select multiple class="form-control">
          type="text"
          name="name"
          [(ngModel)]="author.name"
          id="name"
          #name="ngModel"
          placeholder="Title"
          required
        />
        <span
          class="validation-message"
          style="text-align: justify; display:block;"
          *ngIf="name.errors?.required && name.touched"
          class="text-danger"
          >Title is required</span
        >
        <input
          type=""
          name="{{ category.id }}"
          class="form-control"
          placeholder="Price"
          required
        />
        <label for="{{ category.id }}">{{ category.name }}</label>
      </div> -->

      <div class="funkyradio">
        <div class="funkyradio-primary">
          <input
            type="checkbox"
            name="isDeleted"
            [(ngModel)]="bookData.isDeleted"
            id="isDeleted"
            #isDeleted="ngModel"
            required
          />
          <label for="isDeleted">Active?</label>
          <span
            class="validation-message"
            style="text-align: justify; display:block;"
            *ngIf="isDeleted.errors?.required && isDeleted.touched"
            class="text-danger"
            >Status is required</span
          >
        </div>
      </div>

      <button
        [disabled]="!addBookForm.valid"
        class="fadeIn"
        (click)="onAddBook()"
      >
        Add
      </button>
    </form>
  </div>
</div>
