<div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <h2>Login</h2>
      </div>
      <form #loginForm="ngForm">
        <div>
          <input
            type="text"
            class="fadeIn second"
            name="username"
            id="username"
            [(ngModel)]="loginData.username"
            #username="ngModel"
            placeholder="Username"
            required
          />
          <span
            class="validation-message"
            style="text-align: center; display:block;"
            *ngIf="username.errors?.required && username.touched"
            class="text-danger"
            >Username is required</span
          >
        </div>
        <div>
          <input
            type="password"
            id="password"
            name="password"
            class="fadeIn third"
            [(ngModel)]="loginData.password"
            #password="ngModel"
            placeholder="Password"
            required
          />
          <span
            class="validation-message"
            style="text-align: center; display:block;"
            *ngIf="password.errors?.required && password.touched"
            class="text-danger"
            >Password is required</span
          >
        </div>
        <button
          [disabled]="!loginForm.valid"
          type="submit"
          class="fadeIn fourth"
          value="Log in"
          (click)="onLogin()"
        >
          Log in
        </button>
      </form>
    </div>
  </div>
  